<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div layout:fragment="content" class="container myspace">
    <div class="alert alert-success">
        Registration success!! Please sign in to continue

    </div>
</div>
</body>
</html>